flows/Assign_Project_and_Account_to_Payment_Gateway_Customer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Assign Project and Account to Payment Gateway Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Project and Account to Payment Gateway Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_From_Related_Project</name>
        <label>Get Records From Related Project</label>
        <locationX>548</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PGC_With_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_PB_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Space_ID_from_PGC</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>Related_account_ID</assignToReference>
            <field>Account_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Related_project_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PGC_With_Project</name>
        <label>Update PGC With Project</label>
        <locationX>724</locationX>
        <locationY>320</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Space_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Space_ID_from_PGC</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Related_project_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>bt_stripe__Account__c</field>
            <value>
                <elementReference>Related_account_ID</elementReference>
            </value>
        </inputAssignments>
        <object>bt_stripe__Stripe_Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Records_From_Related_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Related_account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Related_project_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Space_ID_from_PGC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
