flows/Opportunity_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <description>Converts lead on new Contact and system Account.</description>
        <name>Convert_Lead_1_1_2</name>
        <label>Convert Lead</label>
        <locationX>951</locationX>
        <locationY>752</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>systemAccount.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <description>Converts lead on new Contact and existing Account.</description>
        <name>Convert_Lead_1_2</name>
        <label>Convert Lead</label>
        <locationX>1126</locationX>
        <locationY>653</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0_1</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>existingAccount.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Convert_Lead_Account_Exists</name>
        <label>Convert Lead Account Exists</label>
        <locationX>280</locationX>
        <locationY>956</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0_1_0</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>existingAccount.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Convert_Lead_Contact_Exists</name>
        <label>Convert Lead Contact Exists</label>
        <locationX>485</locationX>
        <locationY>929</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0_1_2_0</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>existingContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactID</name>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Convert_Lead_Contact_Exists_0</name>
        <label>Convert Lead Contact Exists</label>
        <locationX>1331</locationX>
        <locationY>651</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0_1_2</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>existingContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactID</name>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Convert_Lead_System</name>
        <label>Convert Lead System</label>
        <locationX>84</locationX>
        <locationY>1065</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>New_Contact_Role_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>systemAccount.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <description>Converts PU lead on existing Contact and on Final Account.</description>
        <name>Convert_PU_lead_2</name>
        <label>Convert PU lead</label>
        <locationX>1606</locationX>
        <locationY>1599</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>Added_User_Contact_Role_0</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>oneProjectUser.Lead__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>finalAccount</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedUserContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Convert_PU_lead_existing_contact</name>
        <label>Convert PU lead existing contact</label>
        <locationX>1979</locationX>
        <locationY>1786</locationY>
        <apexClass>ConvertLeadPlugin</apexClass>
        <connector>
            <targetReference>Added_User_Contact_Role_1_1</targetReference>
        </connector>
        <inputParameters>
            <name>LeadID</name>
            <value>
                <elementReference>oneProjectUser.Lead__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AccountID</name>
            <value>
                <elementReference>existingUserContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactID</name>
            <value>
                <elementReference>existingUserContact.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>convertedAccountId</assignToReference>
            <name>AccountID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>ContactID</name>
        </outputParameters>
    </apexPluginCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns final account that is used for mapping on Project, Opp, and on converting PU user leads.</description>
        <name>Assign_Final_Account</name>
        <label>Assign Final Account</label>
        <locationX>1163</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>finalAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns final account that is used for mapping on Project, Opp, and on converting PU user leads.</description>
        <name>Assign_Final_Account_0</name>
        <label>Assign Final Account</label>
        <locationX>340</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>finalAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convertedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Exists</name>
        <label>Account Exists?</label>
        <locationX>167</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Account_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Account_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Exists_1</name>
        <label>Account Exists?</label>
        <locationX>1039</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_1_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Account_1_2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>1206</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Contact_Exists_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Account_0_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_0</name>
        <label>Contact Exists?</label>
        <locationX>312</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Lead_Contact_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Contact_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Account_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted</name>
        <label>Is Converted</label>
        <locationX>1743</locationX>
        <locationY>1780</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onePuLead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Added_User_Contact_Role_1_1</targetReference>
            </connector>
            <label>isConverted</label>
        </rules>
        <rules>
            <name>notConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>onePuLead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_PU_lead_existing_contact</targetReference>
            </connector>
            <label>notConverted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Source</name>
        <label>Trial Source?</label>
        <locationX>305</locationX>
        <locationY>185</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isTrialOwnerUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Trial_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.Trial_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opp</targetReference>
            </connector>
            <label>isTrialOwnerUser</label>
        </rules>
        <rules>
            <name>isTrialRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Trial_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opp_0</targetReference>
            </connector>
            <label>isTrialRequest</label>
        </rules>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Trial_Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessageNotTrialReques_2</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Contact_Exists_1</name>
        <label>User Contact Exists?</label>
        <locationX>1414</locationX>
        <locationY>1639</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_User_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PU_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_User_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_PU_lead_2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>New rebuild with convert lead plugin</description>
    <formulas>
        <name>newOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Lead.Name}&amp;&quot;, &quot;&amp;TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>oppCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Opportunity_flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_flow_new_rebuild_1.1</label>
    <loops>
        <name>By_One_Project_User_1</name>
        <label>By One Project User</label>
        <locationX>1555</locationX>
        <locationY>1301</locationY>
        <assignNextValueToReference>oneProjectUser</assignNextValueToReference>
        <collectionReference>projectUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existing_User_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAllProjects_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UpdateAllProjects_0</name>
        <label>UpdateAllProjects</label>
        <locationX>1164</locationX>
        <locationY>1173</locationY>
        <assignNextValueToReference>eachProject</assignNextValueToReference>
        <collectionReference>existingProjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Project_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MessageConverted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Added_User_Contact_Role_0</name>
        <label>Added User Contact Role</label>
        <locationX>1632</locationX>
        <locationY>1491</locationY>
        <assignRecordIdToReference>addedUserContactRole</assignRecordIdToReference>
        <connector>
            <targetReference>By_One_Project_User_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Added_User_Contact_Role_1_1</name>
        <label>Added User Contact Role</label>
        <locationX>1910</locationX>
        <locationY>1546</locationY>
        <assignRecordIdToReference>addedUserContactRole</assignRecordIdToReference>
        <connector>
            <targetReference>By_One_Project_User_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>existingUserContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp</name>
        <label>Create New Opp</label>
        <locationX>548</locationX>
        <locationY>185</locationY>
        <assignRecordIdToReference>newOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>oppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Opp_0</name>
        <label>Create New Opp</label>
        <locationX>310</locationX>
        <locationY>310</locationY>
        <assignRecordIdToReference>newOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_New_Opp_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>oppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0</name>
        <label>New Contact Role</label>
        <locationX>953</locationX>
        <locationY>858</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0_0</name>
        <label>New Contact Role</label>
        <locationX>107</locationX>
        <locationY>1174</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0_1</name>
        <label>New Contact Role</label>
        <locationX>1131</locationX>
        <locationY>760</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0_1_0</name>
        <label>New Contact Role</label>
        <locationX>280</locationX>
        <locationY>1065</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0_1_2</name>
        <label>New Contact Role</label>
        <locationX>1326</locationX>
        <locationY>763</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact_Role_0_1_2_0</name>
        <label>New Contact Role</label>
        <locationX>489</locationX>
        <locationY>1058</locationY>
        <assignRecordIdToReference>newContactRoleId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Final_Account_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>existingContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Existing_Account_0</name>
        <label>Existing Account</label>
        <locationX>173</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VAT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.VAT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VAT__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>existingAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Account_0_1</name>
        <label>Existing Account</label>
        <locationX>1039</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exists_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VAT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.VAT__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VAT__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>existingAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Contact</name>
        <label>Existing Contact</label>
        <locationX>1044</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>System_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>existingContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Contact_0</name>
        <label>Existing Contact</label>
        <locationX>312</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>existingContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Project_Users_1</name>
        <label>Existing Project Users</label>
        <locationX>1548</locationX>
        <locationY>1174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>By_One_Project_User_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachProject.Id</elementReference>
            </value>
        </filters>
        <object>Project_User__c</object>
        <outputReference>projectUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>Master_User__c</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>Project_Role__c</queriedFields>
        <queriedFields>Trial_Usage_Score__c</queriedFields>
        <queriedFields>User_Score__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Projects</name>
        <label>Existing Projects</label>
        <locationX>880</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Master_User_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>existingProjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Project_PB_ID__c</queriedFields>
        <queriedFields>Master_User_Lead__c</queriedFields>
        <queriedFields>Total_Project_Score__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_User_Contact</name>
        <label>Existing User Contact</label>
        <locationX>1409</locationX>
        <locationY>1433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Contact_Exists_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oneProjectUser.Lead__r.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>existingUserContact</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Opp</name>
        <label>Get New Opp</label>
        <locationX>716</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>newOpportunity</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity_Internal_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Opp_0</name>
        <label>Get New Opp</label>
        <locationX>311</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>newOpportunity</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity_Internal_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PU_Lead</name>
        <label>Get PU Lead</label>
        <locationX>1570</locationX>
        <locationY>1770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oneProjectUser.Lead__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>onePuLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsConverted</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getLead</name>
        <label>Get Master Lead</label>
        <locationX>307</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VAT__c</queriedFields>
        <queriedFields>Trial_Source__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets &quot;Customers_system_account&quot;</description>
        <name>System_Account</name>
        <label>System Account</label>
        <locationX>1204</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>systemAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets &quot;Customers_system_account&quot;</description>
        <name>System_Account_1</name>
        <label>System Account</label>
        <locationX>79</locationX>
        <locationY>955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Lead_System</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>systemAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets &quot;Customers_system_account&quot;</description>
        <name>System_Account_1_2</name>
        <label>System Account</label>
        <locationX>950</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Lead_1_1_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>systemAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Adds existing account to the new Opportunity.</description>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1165</locationX>
        <locationY>1054</locationY>
        <connector>
            <targetReference>UpdateAllProjects_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>finalAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Adds existing account to the new Opportunity.</description>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>338</locationX>
        <locationY>1341</locationY>
        <connector>
            <targetReference>MessageConverted_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>finalAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_0</name>
        <label>Update Project</label>
        <locationX>1369</locationX>
        <locationY>1173</locationY>
        <connector>
            <targetReference>Existing_Project_Users_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachProject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>finalAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>newOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <screens>
        <name>MessageConverted</name>
        <label>MessageConverted</label>
        <locationX>876</locationX>
        <locationY>1171</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadUpdated</name>
            <fieldText>Current Lead has been converted successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageConverted_1</name>
        <label>MessageConverted</label>
        <locationX>338</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LeadUpdated_1</name>
            <fieldText>Current Lead has been converted succesfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MessageNotTrialReques_2</name>
        <label>MessageNotTrialReques</label>
        <locationX>83</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotTrialRequest_2</name>
            <fieldText>Trial source is null. Lead cannot be converted without filled trial source.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getLead</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>accountName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Customers_system_account</text>
    </textTemplates>
    <textTemplates>
        <name>companyStreetAndNumber</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Lead.Company_Street__c} {!Lead.Company_Street_Number__c}</text>
    </textTemplates>
    <textTemplates>
        <description>NewIdea product name</description>
        <name>NewIdeaProduct</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New Idea</text>
    </textTemplates>
    <textTemplates>
        <name>newOppName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!newOpp.Opportunity_Internal_ID__c}</text>
    </textTemplates>
    <textTemplates>
        <name>OppName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Lead.Company}</text>
    </textTemplates>
    <textTemplates>
        <name>PricebookName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Monthly</text>
    </textTemplates>
    <textTemplates>
        <description>test product on opp</description>
        <name>test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!startupOppProduct.Id}, {!opportunityPricebook.Name}, {!pricebookEntryId}, {!oppLineItemId}</text>
    </textTemplates>
    <textTemplates>
        <name>trialProductName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Trial</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>addedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>addedUserContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>convertedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>convertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>convertedUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eachProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>existingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>existingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>existingProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>existingUserContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>finalAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Master Lead</description>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>newOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oneProjectUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_User__c</objectType>
    </variables>
    <variables>
        <name>onePuLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>oppLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityPricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>pricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>projectUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_User__c</objectType>
    </variables>
    <variables>
        <name>startupOppProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>&quot;Customers_system_account&quot;</description>
        <name>systemAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
