flows/Record_Trigger_Opportunity_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Date_to_Line_Item</name>
        <label>Add Date to Line Item</label>
        <locationX>138</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_a_Collection</name>
        <label>Add record to a Collection</label>
        <locationX>138</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caR_OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Lost &amp; Open</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contract</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Line_Item_Found</name>
        <label>Does Line Item Found?</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>No Line Item Found</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Items</targetReference>
            </connector>
            <label>Line Item Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_RenewalOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 365</expression>
    </formulas>
    <interviewLabel>Auto-generate renewal Opportunity with OLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Trigger: Opportunity After Save</label>
    <loops>
        <name>Line_Items</name>
        <label>Line Items</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Date_to_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record__Prior.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractTerm</field>
            <value>
                <elementReference>$Record.Subscription_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>$Record__Prior.Service_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_PB_ID__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_ARR__c</field>
            <value>
                <elementReference>$Record.ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracted_editors__c</field>
            <value>
                <elementReference>$Record.TotalOpportunityQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contributors_limit__c</field>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Days__c</field>
            <value>
                <elementReference>$Record.Payment_Terms_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Version__c</field>
            <value>
                <elementReference>$Record.Plan_Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record__Prior.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Process__c</field>
            <value>
                <elementReference>$Record.Renewal_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialTerms</field>
            <value>
                <elementReference>$Record.Special_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Workflow_Log__c</field>
            <value>
                <stringValue>&quot;Created from Closed Won Opp: &quot; &amp; [Opportunity].Opp_ID_Long__cBuild a formula...</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <inputReference>varR_OpportunityLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Workflow_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forD_RenewalOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Terms__c</field>
            <value>
                <elementReference>$Record.Custom_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportuinty__c</field>
            <value>
                <elementReference>$Record.Parent_Opportuinty__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Days__c</field>
            <value>
                <elementReference>$Record.Payment_Terms_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Process__c</field>
            <value>
                <elementReference>$Record.Renewal_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Terms__c</field>
            <value>
                <elementReference>$Record.Special_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>3.0 Prove</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Line_Item_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Opp_RT_to_Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>Workflow_Log__c</field>
            <value>
                <stringValue>Manual Contract, Create Support Case &amp; Contract Record, Update RT to Closed won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_RT_to_Closed_Won</name>
        <label>Update Opp RT to Closed Won</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Workflow_Log</name>
        <label>Update Workflow Log</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Get_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Workflow_Log__c</field>
            <value>
                <stringValue>&quot;Renewal Opp Created&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>caR_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
