flows/Renewal_Line_Items_Creation_Test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Date_to_Line_Item</name>
        <label>Add Date to Line Item</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caR_OpportunityLineItem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Items.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_record_to_a_Collection</name>
        <label>Add record to a Collection</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varR_OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caR_OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Stage</name>
        <label>Check Opportunity Stage</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Lost &amp; Open</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>1 AND 2 AND (3 OR 5 OR 6) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Self_Service_Subscribed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amendment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement: SelfServ to Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Opportunity</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Line_Item_Found</name>
        <label>Does Line Item Found?</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>No Line Item Found</defaultConnectorLabel>
        <rules>
            <name>Line_Item_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Items</targetReference>
            </connector>
            <label>Line Item Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Null_Check</name>
        <label>Record Type Null Check</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_Opportunity_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RRecordtypeNullCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Record_Type_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opportunity_Stage</targetReference>
            </connector>
            <label>RRecordtypeNullCheck</label>
        </rules>
    </decisions>
    <description>With NRR line item exclusion</description>
    <environments>Default</environments>
    <formulas>
        <name>forD_RenewalOpportunityCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 365</expression>
    </formulas>
    <formulas>
        <name>ForServiceStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Service_End_Date__c} + 1</expression>
    </formulas>
    <interviewLabel>Renewal Line Items Creation Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Line Items Creation Test</label>
    <loops>
        <name>Line_Items</name>
        <label>Line Items</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Date_to_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Line_Items</name>
        <label>Create Line Items</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <inputReference>varR_OpportunityLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Update_Workflow_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>forD_RenewalOpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Terms__c</field>
            <value>
                <elementReference>$Record.Custom_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportuinty__c</field>
            <value>
                <elementReference>$Record.Parent_Opportuinty__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms_Days__c</field>
            <value>
                <elementReference>$Record.Payment_Terms_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RenewalRrdTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Process__c</field>
            <value>
                <elementReference>$Record.Renewal_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Start_Date__c</field>
            <value>
                <elementReference>ForServiceStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Terms__c</field>
            <value>
                <elementReference>$Record.Special_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>3.0 Prove</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Line_Item_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NRR__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Record_Type_ID</name>
        <label>Get Renewal Record Type ID</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RenewalRrdTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Workflow_Log</name>
        <label>Update Workflow Log</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Workflow_Log__c</field>
            <value>
                <stringValue>FLOW Renewal Line Items Test </stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Record_Type_ID</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caR_OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>RenewalRrdTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varR_OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
