flows/Stripe_Billing_Opportunity_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Product_Collection</name>
        <label>Add to Product Collection</label>
        <locationX>2360</locationX>
        <locationY>2034</locationY>
        <assignmentItems>
            <assignToReference>ProductsToPush</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Product_Record_from_Opp_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Subscription_Items</name>
        <label>Add to Subscription Items</label>
        <locationX>924</locationX>
        <locationY>3717</locationY>
        <assignmentItems>
            <assignToReference>ItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSubscriptionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SubscriptionItems</name>
        <label>Add to SubscriptionItems</label>
        <locationX>1403</locationX>
        <locationY>4272</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subscription_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Gateway_from_Custom_Setting</name>
        <label>Assign Default Gateway from Custom Setting</label>
        <locationX>1619</locationX>
        <locationY>1255</locationY>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Custom_Settings.Default_Payment_Gateway_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Gateway_from_Opportunity</name>
        <label>Assign Default Gateway from Opportunity</label>
        <locationX>1510</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Payment_Gateway__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Properties</name>
        <label>Assign Product Properties</label>
        <locationX>2752</locationX>
        <locationY>2034</locationY>
        <assignmentItems>
            <assignToReference>Get_Product_Record_from_Opp_Product.bt_stripe__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Product_Record_from_Opp_Product.bt_stripe__Payment_Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPaymentGatewayId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Product_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Id</name>
        <label>Assign Subscription Id</label>
        <locationX>1201</locationX>
        <locationY>4272</locationY>
        <assignmentItems>
            <assignToReference>Subscription_Items.bt_stripe__Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_SubscriptionItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Items_and_Opp_Products_0</name>
        <label>Assign Subscription Items and Opp Products</label>
        <locationX>638</locationX>
        <locationY>3432</locationY>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem.bt_stripe__Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPrice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem.bt_stripe__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionLineTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Subscription_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Variables</name>
        <label>Assign Summary Variables</label>
        <locationX>1420</locationX>
        <locationY>3713</locationY>
        <assignmentItems>
            <assignToReference>SummaryAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Coupon</name>
        <label>Build Coupon</label>
        <locationX>1607</locationX>
        <locationY>2749</locationY>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Amount_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Percent_Off__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Percent_Off</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coupon_Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Duration_In_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_in_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Max_Redemptions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Number_of_Times_this_Coupon_can_be_Redeemed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Redeem_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coupon_must_be_redeemed_by</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coupon_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCoupon.bt_stripe__Push_To_Stripe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Coupon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Payment_Gateway_Customer</name>
        <label>Build Payment Gateway Customer</label>
        <locationX>1639</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Stripe_Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Gateway_Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerMailingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Billing_Street1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerMailingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerMailingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Billing_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerMailingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerMailingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedContact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Payment_Gateway__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPaymentGatewayId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.Blackthorn_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Gateway_Customer_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.Space_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Project_PB_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPaymentGatewayCustomer.Technical_Anrok_Flag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&apos;2022-05-01&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Subscription</name>
        <label>Build Subscription</label>
        <locationX>1496</locationX>
        <locationY>3192</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPaymentGatewayCustomer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Billing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMethodList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Days_Until_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days_Until_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Coupon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCoupon.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Backdate_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Backdate_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Trial_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trial_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Billing_Cycle_Anchor_First_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Cycle_Anchor_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Proration_Behavior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProrationBehaviorFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.bt_stripe__Enable_Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Payment_Methods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Price</name>
        <label>New Price</label>
        <locationX>431</locationX>
        <locationY>3241</locationY>
        <assignmentItems>
            <assignToReference>SelectedPrice.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Push_To_Stripe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Usage_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Licensed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Billing_Scheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Per Unit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Stripe_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPrice.bt_stripe__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Variables</name>
        <label>Set Recurring Variables</label>
        <locationX>424</locationX>
        <locationY>2817</locationY>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Interval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Billing_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedPrice.bt_stripe__Interval_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IntervalCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Line_Item_to_One_Time</name>
        <label>Set Subscription Line Item to One Time</label>
        <locationX>738</locationX>
        <locationY>3228</locationY>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem.bt_stripe__Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-Time</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_Items_and_Opp_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Line_Item_to_Plan</name>
        <label>Set Subscription Line Item to Plan</label>
        <locationX>834</locationX>
        <locationY>3355</locationY>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem.bt_stripe__Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plan</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_Items_and_Opp_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Line_Item_Type</name>
        <label>Set Subscription Line Item Type</label>
        <locationX>913</locationX>
        <locationY>2820</locationY>
        <assignmentItems>
            <assignToReference>SingleSubscriptionItem.bt_stripe__Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenPriceProductType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Time_or_Recurring_New_Price</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddCoupon</name>
        <choiceText>&lt;b&gt;Add new Coupon&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddCoupon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annually</name>
        <choiceText>Annually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Year</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewPaymentGatewayCustomer</name>
        <choiceText>&lt;b&gt;Create a new Payment Gateway Customer&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewPaymentGatewayCustomer</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateNewPrice</name>
        <choiceText>&lt;b&gt;Create a New Price&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewPrice</stringValue>
        </value>
    </choices>
    <choices>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultPaymentGatewayCurrency</name>
        <choiceText>&lt;b&gt;USD&lt;/b&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USD</stringValue>
        </value>
    </choices>
    <choices>
        <name>FixedAmountDiscount</name>
        <choiceText>Fixed Amount Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed Amount Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Forever</name>
        <choiceText>Forever</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Forever</stringValue>
        </value>
    </choices>
    <choices>
        <name>Month</name>
        <choiceText>Monthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Month</stringValue>
        </value>
    </choices>
    <choices>
        <name>Once</name>
        <choiceText>Once</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Once</stringValue>
        </value>
    </choices>
    <choices>
        <name>OneTime</name>
        <choiceText>One-Time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-Time</stringValue>
        </value>
    </choices>
    <choices>
        <name>PercentageDiscount</name>
        <choiceText>Percentage Discount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Percentage Discount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recurring</name>
        <choiceText>Recurring</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recurring</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repeating</name>
        <choiceText>Repeating</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repeating</stringValue>
        </value>
    </choices>
    <choices>
        <name>Week</name>
        <choiceText>Weekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Week</stringValue>
        </value>
    </choices>
    <constants>
        <name>constant_12am</name>
        <dataType>String</dataType>
        <value>
            <stringValue>08:00:00</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_there_Products</name>
        <label>Are there Products?</label>
        <locationX>2008</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>NoOpportunityProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products on the Opportunity</defaultConnectorLabel>
        <rules>
            <name>Products_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_not_Pushed_to_Stripe</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Products</targetReference>
            </connector>
            <label>Products Exist</label>
        </rules>
        <rules>
            <name>Products_Exist_but_some_or_all_not_yet_in_Stripe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductsToPush</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductsNotPushed</targetReference>
            </connector>
            <label>Products Exist, but some or all not yet in Stripe</label>
        </rules>
        <rules>
            <name>Products_on_the_Opportunity_are_all_in_Stripe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductsToPush</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Options</targetReference>
            </connector>
            <label>Products on the Opportunity are all in Stripe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Existing_Price_Product_Type</name>
        <label>Choose Existing Price Product Type</label>
        <locationX>858</locationX>
        <locationY>3074</locationY>
        <defaultConnector>
            <targetReference>Set_Subscription_Line_Item_to_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Plan</defaultConnectorLabel>
        <rules>
            <name>One_Time</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>SelectedPrice.bt_stripe__Interval__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPrice.bt_stripe__Interval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedPrice.bt_stripe__Interval_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subscription_Line_Item_to_One_Time</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Coupon_Decision</name>
        <label>Coupon Decision</label>
        <locationX>1716</locationX>
        <locationY>3190</locationY>
        <defaultConnector>
            <targetReference>Build_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coupon_Creation_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Settings.Disable_Coupon_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Subscription</targetReference>
            </connector>
            <label>Coupon Creation Disabled</label>
        </rules>
        <rules>
            <name>Create_a_New_Coupon_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_or_Create_a_Coupon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddCoupon</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_New_Coupon</targetReference>
            </connector>
            <label>Create a New Coupon?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Product</name>
        <label>Include Product?</label>
        <locationX>1031</locationX>
        <locationY>3067</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Include</defaultConnectorLabel>
        <rules>
            <name>Create_New_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_or_Create_a_Price</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewPrice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePrice</targetReference>
            </connector>
            <label>Create New Price</label>
        </rules>
        <rules>
            <name>IncludeProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoNotInclude</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Existing_Price_Product_Type</targetReference>
            </connector>
            <label>Include Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>One_Time_or_Recurring_New_Price</name>
        <label>One Time or Recurring New Price</label>
        <locationX>696</locationX>
        <locationY>2820</locationY>
        <defaultConnector>
            <targetReference>Set_Recurring_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recurring</defaultConnectorLabel>
        <rules>
            <name>One_Time_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChosenPriceProductType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Price</targetReference>
            </connector>
            <label>One Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Gateway_Options</name>
        <label>Payment Gateway Options</label>
        <locationX>2007</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Defined_on_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Payment_Gateway__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Gateway_from_Opportunity</targetReference>
            </connector>
            <label>Default Defined on Opportunity</label>
        </rules>
        <rules>
            <name>Default_Defined_in_Custom_Setting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Settings.Default_Payment_Gateway_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Gateway_from_Custom_Setting</targetReference>
            </connector>
            <label>Default Defined in Custom Setting</label>
        </rules>
        <rules>
            <name>No_Default_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentGatewayList</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_PaymentGateway</targetReference>
            </connector>
            <label>No Default Defined</label>
        </rules>
        <rules>
            <name>No_Valid_Stripe_Gateway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Gateways</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Gateway_Fault_Screen</targetReference>
            </connector>
            <label>No Valid Stripe Gateway</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_not_Pushed_to_Stripe</name>
        <label>Product not Pushed to Stripe?</label>
        <locationX>2744</locationX>
        <locationY>1750</locationY>
        <defaultConnector>
            <targetReference>Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Pushed_to_Stripe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Record_from_Opp_Product.bt_stripe__Product_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Properties</targetReference>
            </connector>
            <label>Not Pushed to Stripe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Push_to_Stripe2</name>
        <label>Push to Stripe?</label>
        <locationX>1691</locationX>
        <locationY>3910</locationY>
        <defaultConnector>
            <targetReference>Subscription_Redirect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Push_to_Stripe_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Push_To_Stripe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PushSubscriptionToStripe</targetReference>
            </connector>
            <label>Push to Stripe Now?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stripe_Customer_Decision</name>
        <label>Payment Gateway Customer Decision</label>
        <locationX>2008</locationX>
        <locationY>2210</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_a_New_Payment_Gateway_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_or_Create_a_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateNewPaymentGatewayCustomer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_a_Payment_Gateway_Customer</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Payment_Gateway_Customer</targetReference>
            </connector>
            <label>Create a New Payment Gateway Customer</label>
        </rules>
    </decisions>
    <description>Added automation for Anrok flag</description>
    <dynamicChoiceSets>
        <name>AccountContactList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingMethodValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>bt_stripe__Billing_Method__c</picklistField>
        <picklistObject>bt_stripe__Subscription2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CouponList</name>
        <dataType>String</dataType>
        <displayField>Flow_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Gateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPaymentGatewayId</elementReference>
            </value>
        </filters>
        <object>bt_stripe__Coupon2__c</object>
        <outputAssignments>
            <assignToReference>SelectedCoupon.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCoupon.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCoupon.bt_stripe__Amount_Off__c</assignToReference>
            <field>bt_stripe__Amount_Off__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCoupon.bt_stripe__Percent_Off__c</assignToReference>
            <field>bt_stripe__Percent_Off__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>enable_payment_method_choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>bt_stripe__Enable_Payment_Method__c</picklistField>
        <picklistObject>bt_stripe__Subscription2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityProductList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>ProductDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LineItemName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceAmount</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentGatewayCustomerList</name>
        <dataType>String</dataType>
        <displayField>Payment_Gateway_Customer_Flow_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Customer_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Gateway__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPaymentGatewayId</elementReference>
            </value>
        </filters>
        <object>bt_stripe__Stripe_Customer__c</object>
        <outputAssignments>
            <assignToReference>SelectedPaymentGatewayCustomer.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPaymentGatewayCustomer.bt_stripe__Stripe_Customer_Name__c</assignToReference>
            <field>bt_stripe__Stripe_Customer_Name__c</field>
        </outputAssignments>
        <sortField>bt_stripe__Stripe_Customer_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentGatewayList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>bt_stripe__Payment_Gateway__c</object>
        <outputAssignments>
            <assignToReference>SelectedPaymentGatewayId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>bt_stripe__Default__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethodList</name>
        <dataType>String</dataType>
        <displayField>Flow_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Stripe_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPaymentGatewayCustomer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Payment_Method_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </filters>
        <object>bt_stripe__Payment_Method__c</object>
        <outputAssignments>
            <assignToReference>NewSubscription.bt_stripe__Payment_Method__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>bt_stripe__Card_Expiration_Year__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriceCurrencyValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>bt_stripe__Currency__c</picklistField>
        <picklistObject>bt_stripe__Plan2__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriceList</name>
        <dataType>String</dataType>
        <displayField>Price_Flow_Label__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND ((4 AND 5) OR ((6 OR 7) AND 8))</filterLogic>
        <filters>
            <field>bt_stripe__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_Products.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Plan_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Interval__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subscription_Billing_Frequency</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Interval_Count__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IntervalCount</elementReference>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Interval__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Interval__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Interval__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>bt_stripe__Plan2__c</object>
        <outputAssignments>
            <assignToReference>SelectedPrice.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPrice.bt_stripe__Amount__c</assignToReference>
            <field>bt_stripe__Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPrice.bt_stripe__Interval_Count__c</assignToReference>
            <field>bt_stripe__Interval_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPrice.bt_stripe__Interval__c</assignToReference>
            <field>bt_stripe__Interval__c</field>
        </outputAssignments>
        <sortField>bt_stripe__Amount__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuggestedContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Billing_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingPostalCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.MailingStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ChosenPriceProductType</name>
        <dataType>String</dataType>
        <expression>IF({!OneTimeOrRecurring}=&quot;One-Time&quot;, &quot;One-Time&quot;, &quot;Plan&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_service_start_date_12am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Opportunity.Service_Start_Date__c})&amp;&apos; &apos;&amp; LEFT({!constant_12am}, 8))</expression>
    </formulas>
    <formulas>
        <name>formula_year_from_service_start_date_12am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(ADDMONTHS({!Opportunity.Service_Start_Date__c},12))&amp;&apos; &apos;&amp; LEFT({!constant_12am}, 8))</expression>
    </formulas>
    <formulas>
        <name>IntroScreenText</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Custom_Settings.Intro_Screen_Text__c}), &quot;Hi &quot;+{!$User.FirstName}+&quot;!&quot;+BR()+BR()+&quot; Click &apos;Next&apos; to create a new Stripe Billing Subscription&quot;, {!Get_Custom_Settings.Intro_Screen_Text__c})</expression>
    </formulas>
    <formulas>
        <name>NextInvoiceDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!NewSubscription.bt_stripe__Billing_Cycle_Anchor_First_Invoice__c})), {!NewSubscription.bt_stripe__Billing_Cycle_Anchor_First_Invoice__c}, 
  IF(NOT(ISBLANK({!NewSubscription.bt_stripe__Trial_End__c})), {!NewSubscription.bt_stripe__Trial_End__c}, NOW()))</expression>
    </formulas>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>ProrationBehaviorFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ProrationBehavior.value}=false, &quot;&quot;, &quot;Create Prorations&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProrationChoice</name>
        <dataType>String</dataType>
        <expression>IF({!ProrationBehavior.value}=true, &quot;Creation Prorations&quot;, &quot;No Proration&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeHelper</name>
        <dataType>String</dataType>
        <expression>&quot;Subscription&quot;</expression>
    </formulas>
    <formulas>
        <name>SubscriptionBillingDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Billing_Cycle_Anchor_Date})), DATEVALUE({!Billing_Cycle_Anchor_Date}),
 IF(NOT(ISBLANK({!Trial_End_Date})), DATEVALUE({!Trial_End_Date}), DATEVALUE({!Backdate_Start_Date})))</expression>
    </formulas>
    <formulas>
        <name>SubscriptionGrandTotal</name>
        <dataType>Currency</dataType>
        <expression>IF(NOT(ISBLANK({!SelectedCoupon.bt_stripe__Amount_Off__c})), {!SubscriptionTotal}-{!SelectedCoupon.bt_stripe__Amount_Off__c}, 
IF(NOT(ISBLANK({!SelectedCoupon.bt_stripe__Percent_Off__c})), ({!SubscriptionTotal}-(({!SubscriptionTotal}*{!SelectedCoupon.bt_stripe__Percent_Off__c}/100))), {!SubscriptionTotal}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubscriptionLineTotal</name>
        <dataType>Currency</dataType>
        <expression>{!SelectedPrice.bt_stripe__Amount__c}*{!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubscriptionStartDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!NewSubscription.bt_stripe__Backdate_Start_Date__c})), {!NewSubscription.bt_stripe__Backdate_Start_Date__c}, NOW())</expression>
    </formulas>
    <interviewLabel>Stripe Billing Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Stripe Billing Opportunity Screen Flow</label>
    <loops>
        <name>Opportunity_Products</name>
        <label>Opportunity Products</label>
        <locationX>1147</locationX>
        <locationY>3390</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Choose_Prices</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Summary_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Products</name>
        <label>Products</label>
        <locationX>2360</locationX>
        <locationY>1750</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product_Record_from_Opp_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Subscription_Items</name>
        <label>Subscription Items</label>
        <locationX>1311</locationX>
        <locationY>3906</locationY>
        <collectionReference>ItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Subscription_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Subscription_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Coupon</name>
        <label>Create Coupon</label>
        <locationX>1496</locationX>
        <locationY>2959</locationY>
        <connector>
            <targetReference>Build_Subscription</targetReference>
        </connector>
        <inputReference>SelectedCoupon</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>1885</locationX>
        <locationY>2473</locationY>
        <connector>
            <targetReference>Stripe_Customer_Decision</targetReference>
        </connector>
        <inputReference>SelectedPaymentGatewayCustomer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price</name>
        <label>Create Price</label>
        <locationX>431</locationX>
        <locationY>3433</locationY>
        <connector>
            <targetReference>Assign_Subscription_Items_and_Opp_Products_0</targetReference>
        </connector>
        <inputReference>SelectedPrice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_Lines</name>
        <label>Create Subscription Lines</label>
        <locationX>1536</locationX>
        <locationY>3908</locationY>
        <connector>
            <targetReference>Push_to_Stripe2</targetReference>
        </connector>
        <inputReference>SubscriptionItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Subscription</name>
        <label>Create Subscription</label>
        <locationX>1126</locationX>
        <locationY>3906</locationY>
        <connector>
            <targetReference>Subscription_Items</targetReference>
        </connector>
        <inputReference>NewSubscription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>1666</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBSettings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>2016</locationX>
        <locationY>1557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record_from_Opp_Product</name>
        <label>Get Product Record from Opp Product</label>
        <locationX>2581</locationX>
        <locationY>1484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_not_Pushed_to_Stripe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>2025</locationX>
        <locationY>2898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Subscription_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeHelper</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Gateways</name>
        <label>Get Stripe Gateways</label>
        <locationX>2015</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Gateway_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>bt_stripe__Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stripe</stringValue>
            </value>
        </filters>
        <filters>
            <field>bt_stripe__Stripe_User_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>bt_stripe__Payment_Gateway__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>2015</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Payment_Gateway__c</queriedFields>
        <queriedFields>bt_stripe__Coupon__c</queriedFields>
        <queriedFields>bt_stripe__Backdate_Start_Date__c</queriedFields>
        <queriedFields>bt_stripe__Trial_End__c</queriedFields>
        <queriedFields>bt_stripe__Proration_Behavior__c</queriedFields>
        <queriedFields>bt_stripe__Billing_Cycle_Anchor_First_Invoice__c</queriedFields>
        <queriedFields>Project_PB_ID__c</queriedFields>
        <queriedFields>Payment_Terms_Days__c</queriedFields>
        <queriedFields>Service_Start_Date__c</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Push_Products_to_Stripe</name>
        <label>Push Products to Stripe</label>
        <locationX>1885</locationX>
        <locationY>1935</locationY>
        <connector>
            <targetReference>Subscription_Options</targetReference>
        </connector>
        <inputReference>ProductsToPush</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PushSubscriptionToStripe</name>
        <label>PushSubscriptionToStripe</label>
        <locationX>1843</locationX>
        <locationY>4275</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSubscription.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bt_stripe__Push_To_Stripe__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>bt_stripe__Subscription2__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1702</locationX>
        <locationY>4180</locationY>
        <connector>
            <targetReference>Subscription_Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>bt_stripe__Subscription__c</field>
            <value>
                <elementReference>NewSubscription.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_Prices</name>
        <label>Choose Prices</label>
        <locationX>1235</locationX>
        <locationY>3065</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Include_Product</targetReference>
        </connector>
        <fields>
            <name>CurrentProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Step 5: Choose a Price for each Product&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(244, 33, 4); background-color: rgb(255, 255, 255);&quot;&gt;Current Product: &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Opportunity_Products.Product2.Name}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Opportunity Product List Price: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;${!Opportunity_Products.ListPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Opportunity Product Unit Price&lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;: ${!Opportunity_Products.UnitPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Quantity: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;{!Opportunity_Products.Quantity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Description: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;{!Opportunity_Products.Description}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DoNotInclude</name>
            <dataType>Boolean</dataType>
            <fieldText>Do not include this Product in the Subscription</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This option will skip this Product and it WILL NOT get added to the Subscription&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_or_Create_a_Price</name>
            <choiceReferences>PriceList</choiceReferences>
            <choiceReferences>CreateNewPrice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose or Create a Price</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Below is a list of active, valid prices filtered by this Product which also match the following Subscription settings:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Matches the selected Interval OR is One-Time&lt;/li&gt;&lt;li&gt;Matches the Interval Count&lt;/li&gt;&lt;li&gt;Matches the Payment Gateway Selected&lt;/li&gt;&lt;/ol&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DoNotInclude</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Price_Creation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choose_a_Price2</name>
            <choiceReferences>PriceList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Price</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;Below is a list of active, valid prices filtered by this Product which also match the following Subscription settings:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Matches the selected Interval OR is One-Time&lt;/li&gt;&lt;li&gt;Matches the Interval Count&lt;/li&gt;&lt;li&gt;Matches the Payment Gateway Selected&lt;/li&gt;&lt;/ol&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Price_Creation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DoNotInclude</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Opportunity_Products.Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DoNotInclude</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PreSelectedIntervalValues</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Interval:&lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt; {!Subscription_Billing_Frequency}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Interval Count: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;{!IntervalCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_New_Coupon</name>
        <label>Create a New Coupon</label>
        <locationX>1720</locationX>
        <locationY>2955</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_Coupon</targetReference>
        </connector>
        <fields>
            <name>Coupon_Name</name>
            <dataType>String</dataType>
            <fieldText>Coupon Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Ubuntu, sans-serif;&quot;&gt;This will appear on customers&apos; receipts and invoices.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discount_Type</name>
            <choiceReferences>PercentageDiscount</choiceReferences>
            <choiceReferences>FixedAmountDiscount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Discount Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_Off</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Discount_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>FixedAmountDiscount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Percent_Off</name>
            <dataType>Number</dataType>
            <fieldText>Percent Off</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Discount_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PercentageDiscount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Coupon_Duration</name>
            <choiceReferences>Forever</choiceReferences>
            <choiceReferences>Repeating</choiceReferences>
            <choiceReferences>Once</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Coupon Duration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Discount_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Duration_in_Months</name>
            <dataType>Number</dataType>
            <fieldText>Duration in Months</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The number of months this Coupon will be applied to a Subscription&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Coupon_Duration</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Repeating</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RedemptionLimitsDate</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Limit the date range this Coupon can be redeemed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Coupon_Duration</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Coupon_must_be_redeemed_by</name>
            <dataType>DateTime</dataType>
            <fieldText>Coupon must be redeemed by:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RedemptionLimitsDate.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LimitRedemptionTimesUsed</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Limit the total number of time this Coupon can be redeemed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Coupon_Duration</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Total_Number_of_Times_this_Coupon_can_be_Redeemed</name>
            <dataType>Number</dataType>
            <fieldText>Total Number of Times this Coupon can be Redeemed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(247, 250, 252); font-size: 14px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Helvetica Neue&amp;quot;, Ubuntu, sans-serif; color: rgb(60, 66, 87);&quot;&gt;This limit applies across customers so it won&apos;t prevent a single customer from redeeming multiple times.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LimitRedemptionTimesUsed.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_Payment_Gateway_Customer</name>
        <label>Create a Payment Gateway Customer</label>
        <locationX>1765</locationX>
        <locationY>2073</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Build_Payment_Gateway_Customer</targetReference>
        </connector>
        <fields>
            <name>Payment_Gateway_Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Opportunity.Account.Name</elementReference>
            </defaultValue>
            <fieldText>Payment Gateway Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>SelectedContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CustomerMailingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Opportunity.Account.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Opportunity.Account.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Opportunity.Account.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Opportunity.Account.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Opportunity.Account.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreatePrice</name>
        <label>CreatePrice</label>
        <locationX>1038</locationX>
        <locationY>2820</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Subscription_Line_Item_Type</targetReference>
        </connector>
        <fields>
            <name>NewPriceForProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Create a new Price for&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Opportunity_Products.Product2.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityProductDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Opportunity Product List Price: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;${!Opportunity_Products.ListPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Opportunity Product Unit Price&lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;: ${!Opportunity_Products.UnitPrice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Name</name>
            <dataType>String</dataType>
            <fieldText>Price Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>OneTimeOrRecurring</name>
            <choiceReferences>OneTime</choiceReferences>
            <choiceReferences>Recurring</choiceReferences>
            <dataType>String</dataType>
            <fieldText>One-Time or Recurring Price?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PreSelectedIntervalDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Billing Frequency: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;{!Subscription_Billing_Frequency}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(9, 2, 144);&quot;&gt;Interval Count: &lt;/b&gt;&lt;span style=&quot;color: rgb(9, 2, 144);&quot;&gt;{!IntervalCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OneTimeOrRecurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Recurring</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro</name>
        <label>New Stripe Billing Subscription</label>
        <locationX>2015</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Stripe_Gateways</targetReference>
        </connector>
        <fields>
            <name>ClickNext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;{!IntroScreenText}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Subscription_Details</name>
        <label>New Subscription Details</label>
        <locationX>2024</locationX>
        <locationY>3188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Coupon_Decision</targetReference>
        </connector>
        <fields>
            <name>SubscriptionDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Step 3: Set Key Subscription Dates&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDatePast</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set Subscription Start Date in the past? (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Backdate_Start_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Subscription_Backdating__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Backdate_Start_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>formula_service_start_date_12am</elementReference>
            </defaultValue>
            <fieldText>Backdate Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b style=&quot;color: rgb(11, 11, 11);&quot;&gt;If you&apos;d like to set the official start date earlier than the current date and time, set that date here. &lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>StartDatePast.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Backdate_Start_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Subscription_Backdating__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BackdateStartDateValidation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 8, 8);&quot;&gt;The Backdate Start Date must be less than the current date and time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Backdate_Start_Date</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>NOW</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IncludeTrial</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to include a Trial Period? (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Trial_End_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Trials__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Trial_End_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Opportunity.bt_stripe__Trial_End__c</elementReference>
            </defaultValue>
            <fieldText>Trial End Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;If you want to apply a free trial, please enter the date you&apos;d like the trial to end here. &lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>IncludeTrial.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Trial_End_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Trials__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BillingCycleAnchor</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like to set a Billing Cycle Anchor in the future? (optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Billing_Cycle_Anchor_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Set_Billing_Cycle_Anchor__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing_Cycle_Anchor_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>formula_year_from_service_start_date_12am</elementReference>
            </defaultValue>
            <fieldText>Billing Cycle Anchor Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;Use this field to set the day this Subscription should bill. This date must be in the future, but cannot be set beyond the next natural billing date &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;(ex. if you selected Monthly billing, this date cannot be set beyond 1 month from the current date and time)&lt;/b&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>BillingCycleAnchor.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Billing_Cycle_Anchor_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Set_Billing_Cycle_Anchor__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BillingDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Step 4: Set Billing Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProrationHelp</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(225, 16, 16);&quot;&gt;PLEASE NOTE &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;- When using &apos;Backdate Start Date&apos; with &apos;Create Prorations&apos;, an invoice will be generated immediately for the time between the &apos;Backdate Start Date&apos; and the Subscription creation date.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Backdate_Start_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProrationBehavior.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProrationBehavior</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Would you like Proration applied to this Subscription?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_or_Create_a_Coupon</name>
            <choiceReferences>CouponList</choiceReferences>
            <choiceReferences>AddCoupon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select or Create a Coupon</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Coupon_Creation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Coupon_Select__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_a_Coupon</name>
            <choiceReferences>CouponList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Coupon</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Coupon_Creation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Coupon_Select__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BillingMethod</name>
            <choiceReferences>BillingMethodValues</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>send_invoice</stringValue>
            </defaultValue>
            <fieldText>Select a Billing Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Days_Until_Due</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Opportunity.Payment_Terms_Days__c</elementReference>
            </defaultValue>
            <fieldText>Days Until Due</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b&gt;Days Until Due&lt;/b&gt; sets the due date of the Subscription Invoices based on the date the Invoice is generated.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>send_invoice</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Payment_Methods</name>
            <choiceReferences>enable_payment_method_choices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>ACH bank transfer</stringValue>
            </defaultValue>
            <fieldText>Select Payment Methods</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_a_Payment_Method</name>
            <choiceReferences>PaymentMethodList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Payment Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;If &apos;Charge Automatically&apos; is set as the &lt;b&gt;Billing Method&lt;/b&gt; a Payment Method is required. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue> charge_automatically</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoPaymentMethods2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 14, 14);&quot;&gt;This Customer has no Payment Methods on File. Please choose &apos;Send Invoice&apos; as the Billing Method to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PaymentMethodList</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BillingMethod</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>charge_automatically</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoOpportunityProducts</name>
        <label>No Opportunity Products Fault</label>
        <locationX>1747</locationX>
        <locationY>1640</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProducts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(231, 6, 6);&quot;&gt;There are no Products on the Opportunity. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(231, 6, 6);&quot;&gt;Please add Products and try again. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Gateway_Fault_Screen</name>
        <label>Payment Gateway Fault Screen</label>
        <locationX>2211</locationX>
        <locationY>1383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoValidStripePGs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(228, 8, 8); font-size: 18px;&quot;&gt;No valid Stripe Payment Gateway Records exist. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(228, 8, 8); font-size: 18px;&quot;&gt;Please connect a valid Stripe Payment Gateway and try again. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductsNotPushed</name>
        <label>Products Not Pushed</label>
        <locationX>1745</locationX>
        <locationY>1873</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Push_Products_to_Stripe</targetReference>
        </connector>
        <fields>
            <name>UnpushedProductsList</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(211, 14, 14); font-size: 16px;&quot;&gt;All Products &lt;u&gt;MUST&lt;/u&gt; exist in Stripe before moving forward, the product list below displays any Products not yet in Stripe.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PushList</name>
            <fieldText>&lt;p&gt;{!ProductsNotInStripe}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Click &apos;Next&apos; to push these to Stripe&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_PaymentGateway</name>
        <label>Select Payment Gateway</label>
        <locationX>2016</locationX>
        <locationY>1300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <fields>
            <name>SetPG</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please select a Stripe Gateway for this Subscription&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Payment_Gateway</name>
            <choiceReferences>PaymentGatewayList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Payment Gateway</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subscription_Options</name>
        <label>Subscription Options</label>
        <locationX>2016</locationX>
        <locationY>1997</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Stripe_Customer_Decision</targetReference>
        </connector>
        <fields>
            <name>BillingFrequency</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Step 1: Set the Billing Frequency and Currency&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subscription_Billing_Frequency</name>
            <choiceReferences>Annually</choiceReferences>
            <choiceReferences>Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subscription Billing Frequency (Interval)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt;The &lt;/span&gt;&lt;b style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt;Interval&lt;/b&gt;&lt;span style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt; represents the frequency of Invoices generated by this new Subscription.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 5, 182);&quot;&gt;For Quarterly billing, please choose &apos;Month&apos; and enter &apos;3&apos; for the&lt;/span&gt;&lt;b style=&quot;color: rgb(17, 5, 182);&quot;&gt; Interval Count &lt;/b&gt;&lt;span style=&quot;color: rgb(17, 5, 182);&quot;&gt;below.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IntervalCount</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Interval  Count</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt;The&lt;/span&gt;&lt;b style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt; Interval Count &lt;/b&gt;&lt;span style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt;represents the number of Intervals between Subscription Invoices.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(17, 5, 182); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;For Example, if you chose &apos;Monthly&apos; above and your Interval Count is 2 then this Subscription will generate an Invoice every 2 Months.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Billing_Frequency</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Currency2</name>
            <choiceReferences>DefaultPaymentGatewayCurrency</choiceReferences>
            <choiceReferences>PriceCurrencyValues</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultPaymentGatewayCurrency</defaultSelectedChoiceReference>
            <fieldText>Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StripeCustomerSelection</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Step 2: Select the Stripe Customer&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Billing_Frequency</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_or_Create_a_Customer</name>
            <choiceReferences>PaymentGatewayCustomerList</choiceReferences>
            <choiceReferences>CreateNewPaymentGatewayCustomer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select or Create a Customer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subscription_Billing_Frequency</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Payment_Gateway_Customer_Create__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_a_Customer</name>
            <choiceReferences>PaymentGatewayCustomerList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Customer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Payment_Gateway_Customer_Create__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Subscription_Billing_Frequency</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_a_Contact</name>
            <choiceReferences>SuggestedContact</choiceReferences>
            <choiceReferences>AccountContactList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Contact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_or_Create_a_Customer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CreateNewPaymentGatewayCustomer</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subscription_Redirect</name>
        <label>Subscription Redirect</label>
        <locationX>1547</locationX>
        <locationY>4275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ViewSubscriptionRecord</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Click &lt;/span&gt;&lt;a href=&quot;/{!NewSubscription.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;HERE&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to view the Subscription&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>1126</locationX>
        <locationY>3713</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <fields>
            <name>NewSubscriptionDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please review the details below&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Clicking &apos;Next&apos; will create a new Subscription and &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(228, 10, 10);&quot;&gt;(optionally)&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;push to Stripe&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Customer: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!SelectedPaymentGatewayCustomer.bt_stripe__Stripe_Customer_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Coupon: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!SelectedCoupon.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Start Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!SubscriptionStartDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;First Full Invoice Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!NextInvoiceDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Billing Frequency (Interval): &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!Subscription_Billing_Frequency}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Interval Count: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!IntervalCount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Interval Total: &lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt;{!SubscriptionGrandTotal}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(3, 13, 166);&quot;&gt;Proration Behavior:&lt;/b&gt;&lt;span style=&quot;color: rgb(3, 13, 166);&quot;&gt; {!ProrationChoice}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Push_To_Stripe</name>
            <dataType>Boolean</dataType>
            <fieldText>Immediately Push To Stripe</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Optional! You can view the Subscription in Salesforce before pushing it to Stripe&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Custom_Settings.Disable_Push_to_Stripe__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1267</locationX>
        <locationY>209</locationY>
        <connector>
            <targetReference>Get_Custom_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ProductsNotInStripe</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;b&gt;{!Get_Product_Record_from_Opp_Product.Name}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Subscription_Item__c</objectType>
    </variables>
    <variables>
        <name>LineItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Subscription2__c</objectType>
    </variables>
    <variables>
        <name>PriceAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProductDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductsToPush</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedCoupon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Coupon2__c</objectType>
    </variables>
    <variables>
        <name>SelectedPaymentGatewayCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Stripe_Customer__c</objectType>
    </variables>
    <variables>
        <name>SelectedPaymentGatewayId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Plan2__c</objectType>
    </variables>
    <variables>
        <name>SingleSubscriptionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Subscription_Item__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>bt_stripe__Subscription_Item__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SummaryAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
