flows/WIP_CS_Notification_for_High_Touch_Improvements.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_CS_Leads_of_new_POC</name>
        <label>Alert CS Leads of new POC</label>
        <locationX>112</locationX>
        <locationY>608</locationY>
        <actionName>Opportunity.Alert_CS_Leads_of_new_High_Touch_Accounts</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Alert_CS_Leads_of_new_High_Touch_Accounts</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Looks at whether the Closed Opportunity is net New Business and whether it&apos;s above the required amount</description>
        <name>Opportunity_type_New_Business</name>
        <label>Opportunity type New Business?</label>
        <locationX>485</locationX>
        <locationY>400</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net_New_Business_Notification</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Account_ARR__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Project_Management__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Net New Business Notification</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks at whether the Opportunity is a POC</description>
        <name>Opportunity_Type_POC</name>
        <label>Opportunity Type POC?</label>
        <locationX>106</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POC_Notification_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_CS_Leads_of_new_POC</targetReference>
            </connector>
            <label>POC Notification Actions</label>
        </rules>
    </decisions>
    <interviewLabel>WIP CS Notification for High Touch Improvements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WIP CS Notification for High Touch Improvements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>334</locationX>
        <locationY>4</locationY>
        <connector>
            <targetReference>Opportunity_Type_POC</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
